/* This file contains the styles used in the majority of the files of the community_web_app. */



/* Background rectangle styles*/
/*#################################################################################################################################################################*/
/* Single background rectangle*/
#major_rectangle{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    min-height: 800px; 
    flex:1.5; 
    padding: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px;
}

/* Half background rectangle*/
#medium_rectangle{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

/* Section title styles */
/*#################################################################################################################################################################*/
/* Title area */
#section_title {
    text-align: center; /* Center the title */
    margin: 20px 0 20px 0; /* Add space above and below */
    font-family: sans-serif; /* Use a clean font */
}

/* Title text */
#section_title span {
    font-size: 1.2em; /* Larger font size for emphasis */
    font-weight: bold; /* Make the text bold */
    color: #405d9b; /* Theme color for text */
    padding: 10px 20px; /* Add some padding around the text */
    background: linear-gradient(to right, #f0f8ff, #dbe9f9); /* Subtle gradient background */
    border-radius: 10px; /* Rounded corners for the background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: inline-block; /* Ensure the background fits tightly */
}

/* Buttons styles*/
/*#################################################################################################################################################################*/
/* Buttons located under menu area */
#submenu_button{
    padding: 10px 20px; 
    background-color: #405d9b; 
    color: white; 
    border: none; 
    border-radius: 15px; 
    font-size: 16px; 
    cursor: pointer;
    display: flex; 
    align-items: center;
}

/* Form submit button */
#submit_button{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(59,89,152);
    color: white;
    font-weight: bold;
}

/* Error styles*/
/*#################################################################################################################################################################*/
/* Error located at the top of the page*/
#main_error {
    text-align: center;
    color: red;
    font-weight: bold; /* Optional: Make it bold for emphasis */
}

/* individual error message */
#error_message{
    position: absolute;
    left: 75%; /* Places the error message to the right of the input */
    margin-left: 10px; /* Adds space between the input and error message */
    color: red;
    font-weight: bold; /* Optional: Make it bold for emphasis */
}

/* Form styles */
/*#################################################################################################################################################################*/
/* Form area */
#form_section{
    background-color: white; 
    width:1200px; 
    margin: auto;
    padding: 10px;
    padding-top: 50px;
}

/* Area to place a user input */
.input_container {
    display: flex;
    justify-content: center; /* Centers the input field */
    align-items: center; /* Aligns vertically (in case the input field has a different height from the error message) */
    position: relative;
}

/* Text input */
#text_input{
    height: 40px;
    width: 300px;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 4px;
    font-size: 14px;
}

/* Additional notes input */
#additional_notes{
    width: 80%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Profile information display styles */
/*#################################################################################################################################################################*/
.information_section {
    margin-bottom: 20px;
}

.information_section strong {
    display: inline-block;
    width: 100%;
    color: #555;
}

#widget_toggle_buttons {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically (if needed) */
}

/* Styling for toggle buttons */
#widget_toggle_buttons button {
    text-align: center; /* Center the text */
    font-family: sans-serif; /* Use the same font as the title */
    font-size: 1em; /* Adjust font size for a balanced look */
    font-weight: bold; /* Make the text bold */
    color: #405d9b; /* Match the theme color */
    padding: 10px 20px; /* Add padding for clickable space */
    background: rgb(248, 245, 245);
    border: none; /* Remove default borders */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer; /* Indicate that it's clickable */
    margin: 20px 5px 20px 5px ; /* Add spacing between buttons */
    transition: all 0.3s ease; /* Smooth hover effect */
}

/* Hover effect for buttons */
#widget_toggle_buttons button:hover {
    background: linear-gradient(to right, #dbe9f9, #f0f8ff); /* Reverse the gradient */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly deeper shadow on hover */
    transform: translateY(-2px); /* Subtle lift effect */
}

/* Style for the active button */
#widget_toggle_buttons button.active {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);  /* Example color */
    color: #405d9b;
    border: none;
}

/* Switch Toggle Buttons */
/*#################################################################################################################################################################*/
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

  
/* Widget Design*/
/*#################################################################################################################################################################*/
.material-symbols-outlined {
    display: inline-flex; /* Important for icon alignment */
    align-items: center;
    justify-content: center;
    font-size: 1.5em; /* Match icon size to text */
    vertical-align: middle;
}

.widget_section {
  flex: 1; /* All sections take equal width */
  padding: 10px;  
}

#widget {
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    color: #333; /* Default text color */
    background: #fff;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
    width: 1000px;
    flex-direction: column;
}

.widget_button {
    background: rgb(248, 245, 245);
    color: #405d9b;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-width: 1px;
    min-width: 80px;

}

/* Hover effect for buttons */
.widget_button:hover {
    background: linear-gradient(to right, #dbe9f9, #f0f8ff); /* Reverse the gradient */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly deeper shadow on hover */
    transform: translateY(-2px); /* Subtle lift effect */
}

/* Hover effect for the widget */
#widget:hover {
    background: linear-gradient(to right, #f0f8ff, #dbe9f9); /* Gradient background on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
    transform: translateY(-2px); /* Slight lift effect */
}

.widget_row {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
    width:1000px;
}

.icon_container {
    padding-right: 25px;
    margin-right: 25px;
    border-right: 2px solid #eee;
    width: 30px;  
    font-size: 1.5em; 
    color: #405d9b; 
    font-weight: 600; 
}

.name_container {
    padding-right: 25px;
    margin-right: 25px;
    border-right: 2px solid #eee;
    width: 250px;   
}

.widget_name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #405d9b;
    letter-spacing: 0.5px;
    width: 100%; /* Allow it to take full width */
    word-wrap: break-word; /* Ensures long words wrap */
    overflow-wrap: break-word; /* Alternative for better browser support */
    white-space: normal; /* Allow wrapping */
}

.info_container {
    width: 320px;
}

.status_container {
    width: 260px;
    padding-left: 10px;
}

.widget_info {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info_line {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
    font-weight: 500;
}

.info_label {
    font-weight: 500;
    color: #7f8c8d;
    min-width: 20px;
}

.info_value {
    color: #2c3e50;
}

.warning {
    color: #e24141;
}

.caution {
    color: #e26741;
}

.valid {
    color: green;
}

.upcoming {
    color: #126cf3;
}

.today {
    color: #be7c00;
}

/* Tooltip Design*/
/*#################################################################################################################################################################*/
.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin-left: 5px;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the tooltip */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

/*#################################################################################################################################################################*/
/* Form Layout */
/* Container styling for the form */
.form-layout {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 5px;
}
/* Each form field will be a flex container */
.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-field-top {
    align-items: flex-start;
}
/* The label takes up a fixed width and is left aligned */
.form-field label {
    width: 350px; /* Adjust width as needed */
    text-align: left;
    font-weight: bold;
    margin-right: 10px;
}
/* The input (or select/textarea) occupies the remaining space and can be styled as needed */
.form-field input,
.form-field select,
.form-field textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/* Container for a group of checkboxes */
.form-checkbox-group {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* aligns with the input fields by accounting for label width + margin */
}

/* Each checkbox item (input + label text) */
.form-checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

/* Checkbox input */
.form-checkbox-item input[type="checkbox"] {
    margin-right: 8px;
}

/* Style the submit button separately */
.form-field button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.form-field button:hover {
    background-color: #0056b3;
}

/*#################################################################################################################################################################*/
/* Reset Filter */
.reset-link {
    text-decoration: underline;
    color: blue;
}

.reset-link:hover {
    text-decoration: none;
}

/*#################################################################################################################################################################*/
/* Sticky Header */
/* Container that holds both header and content */
.page-container {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100vh;
    width: 98.5vw;
  }
